html {

height: 100%;

}


#navbar{

    display: flex;
    word-spacing: 4px;
    margin: .5em;
   	justify-content: flex-end; 

}

#navbar > a{
    padding: .5em;
}


/*.main
{
    display: flex;
    margin: 0.5em;
    justify-content: center;
    align-items: center;
    height:420px;
}
*/

#main {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 70px 70px 250px;
    grid-template-areas: 
    ". Googlelogo ."
    ". search ."
    ". box ."
    ". google-text .";
}

/*.Googlelogo {
    grid-area: Googlelogo;
    justify-self: center;
    align-self: end;
}*/

.Googlelogo
{
    align-self: center;
    margin: auto;
    width: 300px;
}



.search {
    grid-area: search;
    height: 30px;
    width: 80%;
    align-self: center;
    justify-self: center;
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 30px;
}

.search:focus {
    box-shadow: 1px 1px 5px grey;
}
.search:hover {
    box-shadow: 1px 1px 5px grey;
}

.box {
    display: flexbox;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
}
.googlesearchbtn {
    border: none;
    font-size: 15px;
    color: #5F6368;
    margin-right: 25px;
    padding: 7px 15px 7px 15px;
    border-radius: 3px;
}
.feelingluckybtn {
    border: none;
    font-size: 15px;
    color: #5F6368;
    padding: 7px 15px 7px 15px;
    border-radius: 3px;
}
.googlesearchbtn:hover {
    border: 1px solid rgba(0, 0, 0, 0.226);
}
.feelingluckybtn:hover {
    border: 1px solid rgba(0, 0, 0, 0.226);
}

.highfive {
    grid-area: highfive;
    justify-self: center;

}







.footer
{
      display: flex;
      position: fixed;
      bottom: 0;
    left:0;
       right:0;
       width: 100%
       height: -100%;
      justify-content:space-between;
      flex-wrap: nowrap;
      border: 1px solid #e4e4e4;
      background-color: #f2f2f2;
      font-size: 14px;
      font-family: sans-serif;
      padding-top: 7px;
      padding-bottom: 7px;
      flex-shrink: 15px;
      text-decoration: none;

  }

